<div class="container-fluid">
  <div class="row">
    <!-- Left Sidebar (Gray) -->
    <!-- <nav class="col-md-3 col-lg-2 d-md-block bg-secondary sidebar vh-100 p-3">
      <h4 class="text-white">Menu</h4>
      <ul class="nav flex-column">
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Projects</a>
        </li>
        <li class="nav-item">
          <a class="nav-link text-white" href="#">Contact</a>
        </li>
      </ul>
    </nav> -->

    <!-- Main Content Section -->
    <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
      <!-- Top Navbar
      <nav class="navbar navbar-light bg-white shadow-sm p-3">
        <div class="container-fluid">
          <a class="navbar-brand">My Portfolio</a>
          <div>
            <a href="test.com" class="text-dark me-3"><i class="bi bi-github"></i></a>
            <a href="#" class="text-dark me-3"><i class="bi bi-linkedin"></i></a>
            <a href="#" class="text-dark"><i class="bi bi-envelope"></i></a>
          </div>
        </div>
      </nav> -->

      <!-- About Me Content -->
      <div class="p-4">
        <h2>Hi, I'm Nick! Welcome to my site!</h2>
        <p>I am currently a Senior Software Engineer at <a target="_blank" href="https://www.capitalone.com">Capital One</a>.</p>
        <p>This site will provide some information about my background and interests. It is currently under construction as of 2/16/25.</p>
        <p>For now, please feel free to contact me by emailing <b>nick&#64;nickpalmer.dev</b>.</p>
        <p>My LinkedIn profile can be found <a target="_blank" href="https://www.linkedin.com/in/nickolas-palmer-b17a9212b/">here</a>.</p>
        <p>Thanks for stopping by!</p>
      </div>
    </main>
  </div>
</div>
